:root {
    --yellow: #F8C400;
    --blue: #6EB4C1;
    --green: #84CAB9;
    --black: #3a3a3a;
    --white: #fff;
    --default-font: 'Open Sans', sans-serif;
}
/* =================reset css starts here=================  */
* { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, ul, li, body, html, form, fieldset { margin: 0; padding: 0; outline: none; border: 0 }
a { text-decoration: none; border: 0; outline: 0; }
ul { list-style: none; }
a:focus, input:focus, textarea:focus, *:focus { outline: 0 !important; }
a, input, button { display: inline-block; text-decoration: none; color: inherit; outline: none; transition: all 0.2s ease-in; -webkit-transition: all 0.2s ease-in; }
a img { border: 0px none; }
a:hover { outline: none; color: var(--yellow); text-decoration: none; }
a:active { outline: none; text-decoration: none; }
a:focus { outline: none; outline-offset: 0; text-decoration: none; color: inherit; }
/* =================reset css ends here================= */
body { font-size: 16px; line-height: 24px; font-weight: 400; font-family: var(--default-font); color: #3a3a3a; background: #fff; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.container { width: calc(100% - 30px); max-width: 1330px; padding-left: 15px; padding-right: 15px; margin-right: auto; margin-left: auto; position: realative; }
::-webkit-input-placeholder { color: var(--black); opacity: 0.5; }
::-moz-placeholder { color: var(--black); opacity: 0.5; }
:-moz-placeholder { color: var(--black); opacity: 0.5; }
:-ms-input-placeholder { color: var(--black); opacity: 0.5; }
img { max-width: 100%; border: 0; height: auto; }
h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; margin-bottom: 24px; line-height: 1.2; font-weight: 700; color: inherit; }
h1 { font-size: 60px; }
h2 { font-size: 48px; }
h3 { font-size: 40px; }
h4 { font-size: 30px; }
h5 { font-size: 24px; }
h6 { font-size: 20px; }
p { margin: 0; padding: 0; margin-bottom: 24px; }
strong { font-weight: 700; }
b { font-weight: 400; }
p:last-child { margin-bottom: 0; }
.btn.focus, .btn:focus { outline: none; box-shadow: none !important; }
.btn { border-radius: 5px; font-weight: 800; padding: 10px 15px; min-width: 200px; font-size: 16px; line-height: 18px; letter-spacing: 1px; text-transform: uppercase; box-shadow: none; transition: all 0.2s ease-in; -webkit-transition: all 0.2s ease-in; }
.btn-default, .btn-default:focus { color: var(--blue); background-color: transparent; border: solid 1px var(--blue); }
.btn-default:hover, .btn-default:active { color: #fff; background-color: var(--blue); border-color: var(--blue); }
.btn-primary, .btn-primary:focus { color: #fff; background-color: var(--blue); border: solid 1px var(--blue); }
.btn-primary:hover, .btn-primary:active { color: var(--blue); background-color: transparent; border-color: var(--blue); }
.btn.btn-block { min-width: 100%; }
.btn+.btn { margin-left: 25px; }
ul:not([class]) { list-style: none; margin-bottom: 15px; text-align: left; line-height: 22px; }
ul:not([class]) > li { padding-left: 16px; position: relative; margin-bottom: 14px; }
ul:not([class]) > li:last-child { margin-bottom: 0; }
ul:not([class]) > li:before { content: ''; position: absolute; left: 2px; top: 10px; background: var(--black); height: 5px; width: 5px; border-radius: 50%; }
.media-box { width: 100%; }
.media-box img { width: 100%; height: 100%; object-fit: cover; }
.more-link { font-weight: 800; font-size: 16px; line-height: 18px; text-transform: uppercase; color: inherit; transition: all 0.2s ease-in; }
.more-link:hover, .more-link-parent:hover .more-link { color: var(--yellow); }
.more-link i { margin-left: 10px; transition: margin-left 0.2s ease-in; }
.more-link:hover i, .more-link-parent:hover .more-link i { margin-left: 15px; }
/* =================core css ends here================= */

.row { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-right: -15px; margin-left: -15px; }
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto { position: relative; width: 100%; padding-right: 15px; padding-left: 15px; }
@media (min-width:768px) {
    .col-md-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
}


.error-container { height: calc(100vh - 185px); padding-top: 150px; }

/* ==================================================================== 
! `xxl` applies to x-large devices (large desktops, less than 1400px)
==================================================================== */
@media (max-width:1399.98px) {
    
}

/* ==================================================================== 
! `xl` applies to large devices (desktops, less than 1200px)
==================================================================== */
@media (min-width:1199.98px) {

}

/* ====================================================================
! `lg` applies to medium devices (tablets, less than 992px)
==================================================================== */
@media (max-width:991.98px) {

}

/* ====================================================================  
! `md` applies to small devices (landscape phones, less than 768px)
 ==================================================================== */
@media (max-width:767.98px) {
    .mob-pt-0 { padding-top: 0 !important; }
    .mob-pb-0 { padding-bottom: 0 !important; }
}

/* ====================================================================
 ! `sm` applies to x-small devices (portrait phones, less than 576px)
 ==================================================================== */
@media (max-width:575.98px) {

}

.edit-post-link, .edit-post-link:focus, .edit-post-link:hover { position: fixed; bottom: 0px; left: 0px; z-index: 99999; width: auto; line-height: 20px; background: #055468; box-shadow: 1px -1px 12px rgba(0, 0, 0, 0.2) !important; text-align: center; font-size: 13px;/* padding: 12px; */ border-radius: 0%; width: 50px; height: 50px; line-height: 50px; font-size: 20px; color: #fff; }
